# Web Framework
fastapi
uvicorn[standard]

scikit-learn
pandas
numpy
joblib
# Data Validation
pydantic
pydantic-settings

# CORS and Middleware
python-multipart

# Logging and Monitoring
python-json-logger
python-dotenv

celery

httpx
requests
groq


motor
pymongo
# Authentication
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
bcrypt==4.1.2
python-multipart
pydantic
pydantic-settings

